* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  

  
  body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
  }
  
  header {
    background-color: #00a8ff;
    padding: 20px;
    text-align: center;
  }
  
  h1 {
    font-size: 48px;
    margin-bottom: 10px;
    color: #fff;
    text-shadow: 2px 2px #333;
  }

  .insertimg {
    padding: 5px;
  }
  
 
  .card {
     background-color:  #00a8ff;
     padding: 5px;
     margin-top: 20px;
     border: 1px solid black;
			margin: 20px;
			width: 275px;
			height: 300px;
			box-shadow: 5px 5px 5px grey;
			float: left;
     
  }
  
  .d1 {   
    float: left;
    width: 25%;
  }
  
  .d2 {
    float: left;
    width: 25%;
  }
  .d3 {
    float: left;
    width: 25%;
  }
  .d4 {
    float: left;
    width: 25%;
  }
  .d5 {
    padding-top: 200px;
    float: left;
  }
  .d5 table, th, td {
    border: 1px solid #00a8ff;
  }

 